.dp{
    border-radius: 80%;
}
.fb{
 
    font-size: 22px;
    background-color: white;
    border-radius: 87%;
    text-align: center;
    padding: 2px 6px;
    color: #303030;
}
.navbar{
    background-color: #303030;
}
.bg{
    background-color: #303030;
}

.w1{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 128.02%;
   
    color: #FFFFFF !important;
    }
.dp1{
    width:auto;
}
.twitter{color: white;
    font-size: 25px;
    
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;

}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
  
    text-align: center;
    padding: 2px 5px;
   
}
.twitter1{color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;}
   
.bl{
    background-color: #303030;
margin-top: 5%;
color: #FFFFFF;
padding: 10px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
width: 20%;
text-align: center;
border-radius: 12px;

}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
padding-bottom: 5rem;
text-align: center;
color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.man{
    max-width: fit-content;
    min-width: -webkit-fill-available;;
  }
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}

    .follow{
        font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #FFFFFF;
            padding-top:2.5rem;
            padding-left: 1rem;

    }
   
    @media (min-width: 990px) and (max-width: 1400px) {
        .text{
            font-family: 'Hind';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 148.1%;
        text-align: center;
        color: #FFFFFF;
        padding: 2rem 0rem;
        }
        .input{
            width: 315.68px;
            height: 66px;
        }
      }
      @media (min-width: 300px) and (max-width: 990px) {
        .text{
            font-family: 'Hind';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 148.1%;
        text-align: center;
        color: #FFFFFF;
        padding: 2rem 0rem;
        }
        .input{
            width: 315.68px;
            height: 66px;
        }
        .w1{
            font-size: 35px !important;
        }
        .dp{
            max-width: 100%;
        }
      }
     