.dp{
    border-radius: 80%;
    width: 45px;
}
.fb{
 
    font-size: 22px;
    background-color: white;
    border-radius: 87%;
    text-align: center;
    padding: 2px 6px;
    color: #303030;
}
.navbar{
    background-color: #303030;
}
.bg{
    background-color: #303030;
}

.w1{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 128.02%;
   
    color: #FFFFFF !important;
    }
.dp1{
    width:auto;
}
.twitter{color: white;
    font-size: 25px;
    
}
.text{
    font-weight: 700 !important;
    font-size: 60px !important;
    line-height: 140.1% !important;
    text-align: center;
    color: #fff;



}
.input{
    padding: 8px;
    background: #FFFFFF;
    border-radius: 21px;
    border: none;
    margin-bottom: 20px;

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 38px;
}
.fb1{
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
    /* width: 26px; */
    /* height: 24px; */
    text-align: center;
    padding: 2px 5px;
   
}
.twitter1{color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;}
.bl{
    background-color: #303030;
margin-top: 5%;
color: #FFFFFF;
padding: 10px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
width: 25%;
text-align: center;
border-radius: 12px;

}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
padding-bottom: 5rem;
text-align: center;
color: #000000;

}
.h{
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #fff;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}
.hh{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;

list-style-type: none;
color: #FFFFFF;
}
.man{
    max-width: fit-content;
    min-width: -webkit-fill-available;;
  }
  .name{
    font-family: 'Hind';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 58px;

color: #FFFFFF;
  }
 
  .text3{font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;}
    .spanfooter {
        color: #6CBE03;
    }
    .textdarkfooter{
        color: #6CBE03;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    .textbgdark{font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    text-align: center;
    }
    .follow{
        font-weight: 500;
font-size: 20px;
line-height: 32px;
color: #FFFFFF;
        font-style: normal;
        text-align: start;

    }
       
    @media  (max-width: 1400px){
        .text{
            font-size: 40px !important;
            padding-top: 2rem;
        }
                  }
                    
                  @media  (max-width: 990px) {
                    .twitter{
                    margin-left: 10px;
                  }
                .bl{
                    padding: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    width: 45%;
                }
                }
                  @media  (max-width: 767px){
                    .text{
                        font-size: 35px !important;
                        padding-top: 2rem;
                    }
                    
                    .text1{
                        font-style: normal;
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 156.3%;
                    /* or 50px */
                    
                    text-align: center;
                    padding-top: 30px;
                    color: #000000;
                    
                    }
                    .text2{
                        font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 156.3%;
                    padding-bottom: 5rem;
                    text-align: center;
                    color: #000000;
                    
                    }
                    .input{
                        padding: 5px;
                        background: #FFFFFF;
                        border-radius: 21px;
                        border: none;
                        margin-bottom: 20px;
                    margin-top: -1rem !important;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 38px;
                }
                              }
                              @media  (max-width: 500px){
                                .text{
                                    font-size: 35px !important;
                                    padding-top: 2rem;
                                }
                                        
                                .bl{
                                    padding: 3px;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 28px;
                                    line-height: 50px;
                                    width: 60%;
                                }
                                .text1{
                                    font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 156.3%;
                                /* or 50px */
                                
                                text-align: center;
                                padding-top: 30px;
                                color: #000000;
                                
                                }
                                .text2{
                                    font-style: normal;
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 166.3%;
                                padding-bottom: 2rem;
                                text-align: center;
                                color: #000000;
                                
                                }
                                          }