
.fb{
    font-size: 25px;
    background-color: white;
    border-radius: 87%;
    width: 28px;
    height: 27px;
    text-align: center;
   
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;

}
.dp1{
    width:auto;
}
.tx{background-color: #303030;
    color: #FFFFFF;
    margin: 7rem 0rem;
    text-align: center;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 12px;}
.bl{
    background-color: #303030;
margin-top: 8%;
color: #FFFFFF;
padding: 20px ;
font-style: normal;
font-weight: 700;
font-size: 35px;
width: 370px;
    border-radius: 12px;
    text-align: center;
}
.ml{
    background-color: #303030;
    margin-top: 5%;
    color: #FFFFFF;
    max-width: 90vh;
    padding: 20px ;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    border-radius: 12px;
    text-align: center;
}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 23px;
    background-color: white;
    border-radius: 87%;
    width: 26px;
    height: 26px;
    text-align: center;
   
}
.twitter1{color: white;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;}
   .input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 23px;
    background-color: white;
    border-radius: 87%;
    width: 26px;
    height: 26px;
    text-align: center;
   
}
.twitter1{color: white;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;}
   
.text1{
    font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 156.3%;
/* or 50px */


padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 156.3%;
/* or 38px */
padding-top: 20px;

color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}
    .l{font-weight: 500;
        font-size: 24px;
        line-height: 156.3%;
        /* identical to box height, or 38px */
        padding:6rem 0rem;
        
        color: #000000;
        }
        .text4{font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 156.3%;
            /* or 38px */
            padding-bottom: 15rem;
            
            color: #000000;
            }
            .follow{
                font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 32px;
                    color: #FFFFFF;
                    padding-top:2.5rem;
                    padding-left: 1rem;
        
            }
            @media (min-width: 280px) and (max-width: 1400px) {
                .text{
                    font-family: 'Hind';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 148.1%;
                text-align: center;
                color: #FFFFFF;
                padding: 0rem 0rem;
                }
                .input{
                    width: 315.68px;
                    height: 66px;
                }
              }