
.fb{
    font-size: 22px;
    background-color: white;
    border-radius: 87%;
    text-align: center;
    padding: 2px 6px;
}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
   
    text-align: center;
    padding: 2px 5px;
   
}
.twitter1{color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;}
   
.dp1{
    width:auto;
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
    text-align: center;
    margin-right: 1px;
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;

}
.bl{
    background-color: #303030;
margin-top: 8%;
color: #FFFFFF;
padding: 20px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
/* or 38px */
padding-top: 20px;

color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}

    .head{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 90px;
        text-align: center;
        background-color: #F5841E;
        color: #FFFFFF;
        margin: 7rem 0rem 8rem 0rem;
        border-radius: 12px;
        width: 385px;
        }
        .dp{
            background-color: rgba(12, 129, 57, 0.801);
            border-radius: 100%;
        }
        .heading{
            font-style: normal;
            font-weight: 700;
            font-size: 75px;
            line-height: 119px;
            color: #000000;
            text-align: center;
        }
        .t{
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 64px;
            text-align: center;
            
            color: #000000;
            
        }
        .t1{
            font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 29px;
text-align: center;
/* display: contents; */
color: #FFFFFF;
margin-left: 2px;
padding-top: 2rem;
padding-bottom: 15rem;
        }
        
        .msg{
            font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 38px;
color: #303030;
margin: 3rem;

        }
        .bg{
            background-color: #E5E5E5;
        }
        .follow1{
            font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
              
                padding-top:9rem;
                padding-left:4rem;
    
        }
        .navbar-toggler {
            color: rgb(209 194 195);
    background-color:#ece9e9;
    border: var(--bs-border-width) solid rgb(17, 15, 15);
        }
        .navbar{
            background-color: #303030;
        }
        .w{
            font-style: normal;
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 128.02%;
           
            color: #FFFFFF;
            }
        .follow{
            font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #FFFFFF;
                padding-top :2.5rem;
                padding-left:1rem;
    
        }
        .send{
            background: #F5841E;
            border: none;
            width: 291px;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 85px;
            text-align: center;
            color: #FFFFFF;
           
        }
        .head2{
            font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 90px;
        text-align: center;
        background-color: #F5841E;
        color: #FFFFFF;
        margin: 2rem;

        }
        .icon{
            color: #FFFFFF;
            font-size: 40px;
            margin-top: 2rem;
        }
        .form{
            font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;


color: #F5841E;

        }
        .yellow{
            border-radius: 12px;
            background-color: #F5841E;
            padding-bottom: 3rem;
            left: -2rem;
            margin-top: 5rem;
            position: absolute;
        }
        .fb2{
            font-size: 36px;
    background-color: white;
    border-radius: 87%;
    padding: 2px 7px;
    text-align: center;
    color:#F5841E;
        }
        .twitter2{
            color: white;
    font-size: 40px;
    padding-left: 15px;
    text-align: center;
        }
      
        .input1{
            border: none;
            background-color:#E5E5E5 ;
            border-bottom: 1px solid black;
            width: 90%;
        }
        .man{
            max-width: fit-content;
            min-width: -webkit-fill-available;;
          }
        @media (min-width: 280px) and (max-width: 1400px) {
            .text{
                font-family: 'Hind';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 148.1%;
            text-align: center;
            color: #FFFFFF;
            padding: 2rem 0rem;
            }
            .icon{
                color: #FFFFFF;
                font-size: 40px;
                margin-top: 2rem;
            }
            .input{
                width: 315.68px;
                height: 66px;
            }}
            @media (min-width: 280px) and (max-width: 800px) {
            .t1{
                
    font-size: 17px;
    
    margin-left: 2px;
            }
          }