.spanfooter {
    color: #6CBE03;
}

.textdarkfooter {
    color: #6CBE03;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.textbgdark {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
}

.fb {

    font-size: 22px;
    background-color: white;
    border-radius: 87%;
    text-align: center;
    padding: 2px 6px;
    color: #303030;
}

.dp {

    border-radius: 80%;
    width: 45px;
}

.navbar {
    background-color: #303030;
}

.twitter {
    color: white;
    font-size: 25px;

}

.w1 {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 128.02%;

    color: #FFFFFF !important;
}

.input {
    padding: 8px;
    background: #FFFFFF;
    border-radius: 21px;
    border: none;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.navbar {
    background-color: #303030;
}

.fb1 {
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
    /* width: 26px; */
    /* height: 24px; */
    text-align: center;
    padding: 2px 5px;

}

.twitter1 {
    color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;
}

.text {
    font-weight: 700 !important;
    font-size: 60px !important;
    line-height: 140.1% !important;
    text-align: center;
    color: #fff;



}

.bl {
    background-color: #303030;
    margin-top: 8%;
    color: #FFFFFF;
    padding: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
}

.text1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 156.3%;
    /* or 50px */

    text-align: center;
    padding-top: 30px;
    color: #000000;

}

.text2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 156.3%;
    /* or 38px */
    padding-top: 20px;

    color: #000000;

}

.h {
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #fff;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}

.hh {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
}

.list {

    font-family: courier;
    font-size: 22px;
    line-height: 148.02%;

    list-style-type: none;
    color: #FFFFFF;
}

.text3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.name {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 58px;

    color: #FFFFFF;
}

.head {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 102px;
    text-align: center;
    background-color: rgb(248, 113, 16);
    color: #FFFFFF;
    margin: 7rem 0rem 2rem 0rem;
    border-radius: 12px;
    width: 50%;
}

.dp2 {
    background-color: rgba(12, 129, 57, 0.801);
    border-radius: 100%;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 119px;
    color: #000000;
    text-align: center;
}

.t {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    text-align: center;
    margin: auto;
    color: #000000;

}

.t1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 180.6%;
    /* or 65px */
    padding-top: 2rem;
    text-align: center;
    letter-spacing: 0.05em;
    padding-bottom: 10rem;
    color: #000000;
}

.follow {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 2.5rem;
    padding-left: 1rem;

}

.man {
    max-width: fit-content;
    min-width: -webkit-fill-available;
    ;
}

@media (max-width: 1400px) {
    .text {
        font-size: 40px !important;
        padding-top: 2rem;
    }
}

@media (max-width: 980px) {
    .twitter {
        margin-left: 10px;
    }
    .head {
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 102px;
        text-align: center;
        background-color: rgb(248, 113, 16);
        color: #FFFFFF;
        margin: 7rem 0rem 2rem 0rem;
        border-radius: 12px;
        width: 80%;

    }
    .t1{
        padding-bottom: 6rem;
    }
    .text {
        font-size: 40px !important;
        padding-top: 2rem;
    }
}

@media (max-width: 767px) {
    .text {
        font-size: 35px !important;
        padding-top: 2rem;
    }
    .t1{
        padding-bottom: 6rem;
    }
    .heading {
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 92px;
        color: #000000;
        text-align: center;
    }
    .t {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        margin: auto;
        color: #000000;
    }
    .head {
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 102px;
        text-align: center;
        background-color: rgb(248, 113, 16);
        color: #FFFFFF;
        margin: 7rem 0rem 2rem 0rem;
        border-radius: 12px;
        width: 80%;

    }
    .dp2 {
        background-color: rgba(12, 129, 57, 0.801);
        border-radius: 100%;
        width: 65%;
    }
    .input {
        padding: 5px;
        background: #FFFFFF;
        border-radius: 21px;
        border: none;
        margin-bottom: 20px;
        margin-top: -1rem !important;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 38px;
    }
}

@media (max-width: 500px) {
    .text {
        font-size: 35px !important;
        padding-top: 2rem;
    }
    .t1{
        padding-bottom: 4rem;
    }
    .heading {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 82px;
        color: #000000;
        text-align: center;
    }
    .t {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        margin: auto;
        color: #000000;
    }
    .dp2 {
        background-color: rgba(12, 129, 57, 0.801);
        border-radius: 100%;
        width: 75%;
    }
    .head {
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 76px;
        text-align: center;
        background-color: rgb(248, 113, 16);
        color: #FFFFFF;
        margin: 3rem 0rem 2rem 0rem;
        border-radius: 12px;
        width: 90%;
    }
}