
.fb{
    font-size: 22px;
    background-color: white;
    border-radius: 87%;
    text-align: center;
    padding: 2px 6px;
   
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
    /* width: 26px; */
    /* height: 24px; */
    text-align: center;
    padding: 2px 5px;
}
.twitter1{color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;}
   
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;


}
.bl{
    background-color: #303030;
margin-top: 8%;
color: #FFFFFF;
padding: 20px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
/* or 38px */
padding-top: 20px;

color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}

    .head{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 102px;
        text-align: center;
        background-color: rgb(248, 113, 16);
        color: #FFFFFF;
        margin:7rem 0rem 2rem 0rem;
        border-radius: 12px;
        }
        .dp{
            background-color: rgba(12, 129, 57, 0.801);
            border-radius: 100%;
        }
        .heading{
            font-style: normal;
            font-weight: 700;
            font-size: 75px;
            line-height: 119px;
            color: #000000;
            text-align: center;
        }
        .t{
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 44px;
            text-align: center;
            margin: auto;
            color: #000000;
            
        }
        .t1{
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 180.6%;
            /* or 65px */
            padding-top: 2rem;
            text-align: center;
            letter-spacing: 0.05em;
            padding-bottom: 13rem;
            color: #000000;
        }
        .follow{
            font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #FFFFFF;
                padding-top:2.5rem;
                padding-left: 1rem;
    
        }
        .man{
            max-width: fit-content;
            min-width: -webkit-fill-available;;
          }
        @media (min-width: 280px) and (max-width: 1400px) {
            .text{
                font-family: 'Hind';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 148.1%;
            text-align: center;
            color: #FFFFFF;
            padding: 2rem 0rem;
            }
            .input{
                width: 315.68px;
                height: 66px;
            }
          }
         