
.fb{
    font-size: 25px;
    background-color: white;
    border-radius: 87%;
    width: 28px;
    height: 27px;
    text-align: center;
   
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 19px;
    background-color: white;
    border-radius: 87%;
    /* width: 26px; */
    /* height: 24px; */
    text-align: center;
    padding: 2px 5px;
   
}
.twitter1{color: white;
    font-size: 23px;
    padding-left: 9px;
    text-align: center;}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;


}
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}
    
    .m{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 58px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
    .w{
        width: 80%;
        padding-top: 2.5rem;
    }
    .n{
        font-family: 'Kurale';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 45px;
        
        color: #FFFFFF;
    }
    .o{
       padding-top: 1.5rem;
    }
    .text5{font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 51px;
        padding: 5rem;
        color: #0E0E0E;
        margin: 0rem 3rem;
        }
        .ss{
            color: #FFFFFF;
            font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 159.6%;
margin: 5.2rem;
padding: 3rem;
border-radius: 15px;
        }
        .follow{
            font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #FFFFFF;
                padding-top:2.5rem;
                padding-left: 1rem;
    
        }
        .man{
            max-width: fit-content;
            min-width: -webkit-fill-available;;
          }
        @media (min-width: 280px) and (max-width: 1400px) {
            .text{
                font-family: 'Hind';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 148.1%;
            text-align: center;
            color: #FFFFFF;
            padding: 2rem 0rem;
            }
            .input{
                width: 315.68px;
                height: 66px;
            }
          }
         