
.fb{
    font-size: 25px;
    background-color: white;
    border-radius: 87%;
    width: 28px;
    height: 27px;
    text-align: center;
   
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 140.1%;
text-align: center;
padding: 4rem 3rem;
color: #FFFFFF;

}
.bl{
    background-color: #303030;
margin-top: 8%;
color: #FFFFFF;
padding: 20px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
/* or 38px */
padding-top: 20px;

color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.input{
    width: 415.68px;
    height: 71px;
    border: #E5E5E5;
    background: #FFFFFF;
    border-radius: 21px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
   
    padding-left: 1rem;
}
.fb1{
    font-size: 23px;
    background-color: white;
    border-radius: 87%;
    width: 26px;
    height: 26px;
    text-align: center;
   
}
.twitter1{color: white;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;}
   
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}
    .head{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 90px;
        text-align: center;
        background-color: #F5841E;
        color: #FFFFFF;
        margin: 7rem 0rem 8rem 0rem;
        border-radius: 12px;
        width: 395px;
        }
        
        .b{
            border-radius: 12px;
            align-self: center !important;
              color: #FFFFFF;
              background-color: rgb(49, 45, 45);
           padding: 0rem 2.5rem;
            font-style: normal;
font-weight: 700;
font-size: x-large;


text-align: center;

        }
        .c{
           
  align-self: center !important;
        }
        .img1{
            height: 500px
        }
        .follow{
            font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #FFFFFF;
                padding-top:2.5rem;
                padding-left: 1rem;
    
        }
        .w{
            max-width: -webkit-fill-available;
            max-height: -webkit-fill-available;
           
        }
        @media (min-width: 280px) and (max-width: 1400px) {
            .text{
                font-family: 'Hind';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 148.1%;
            text-align: center;
            color: #FFFFFF;
            padding: 0rem 0rem;
            }
            .input{
                width: 315.68px;
                height: 66px;
            }
          }
       .g{
        border: 12px solid green;
        border-radius: 23px;
       }
       .o{
        border: 12px solid orangered;
        border-radius: 23px;
       }