
.fb{
    font-size: 25px;
    background-color: white;
    border-radius: 87%;
    width: 28px;
    height: 27px;
    text-align: center;
   
}
.twitter{color: white;
    font-size: 25px;
    padding-left: 20px;
}
.text{
    font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 148.1%;
text-align: center;

color: #FFFFFF;

}
.bl{
    background-color: #303030;
margin-top: 8%;
color: #FFFFFF;
padding: 20px ;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 58px;
}
.text1{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 156.3%;
/* or 50px */

text-align: center;
padding-top: 30px;
color: #000000;

}
.text2{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 156.3%;
/* or 38px */
padding-top: 20px;

color: #000000;

}
.h{
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
font-weight: 700;
font-size: 36px;
padding-top: 5%;
}
.list{

    font-family:courier;
font-size: 22px;
line-height: 148.02%;
/* or 26px */
padding-top: 25px;

color: #FFFFFF;
}
.text3{padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;}
    .head{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 102px;
        text-align: center;
        background-color:#F5841E;
        color: #FFFFFF;
        margin:7rem 0rem 2rem 0rem;
        border-radius: 12px;
        width: 80%;
        }
        .b{
            border-radius: 12px;
            align-self: center !important;
              color: #FFFFFF;
              min-height: 518px;
              display: flex;
              justify-content: center;
            
            font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 119.6%;
background-color: rgb(49, 45, 45);
text-align: center;

        }
        .c{
           
  align-self: center !important;
        }
        .img1{
            height: 60%;
            width: 98%;
        }